@media screen and (max-width: 640px) {
  nav {
    flex-wrap: wrap;
    height: 400px;
  }

  .inicio_logo {
    min-width: 200px;
    height: 150px;
  }
  .inicio_menu {
    width: 80px;
    height: 5px;
  }

  header {
    height: 20vh;
    width: 200px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .item5 {
    width: 16px;
    padding: 0;
  }

  .item6 {
    width: 16px;
  }
  .item_box_imagen {
    height: 150px;
  }
  .container {
    width: 100px;
  }

  .container_footer {
    width: 200px;
    flex-wrap: wrap;
  }
}
