@media screen and (max-width: 640px) {
  nav {
    flex-wrap: wrap;
    height: 200px;
  }

  .inicio_logo {
    width: 400px;

  }
  .inicio_menu {
    width: 100px;
  
  }

  header {
    height: 60vh;
    width: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .container {
    min-width: 400px;
   
  }

  .container {
    text-align: center;
    display: grid;
    grid-template-rows: 10px;
    grid-template-columns: auto;
    grid-template-areas:
        "item1 "
        "item3 "
        "item5 "
        "item6 "
        "item7 "
        "item8 "
        "item9 ";
}

  .item5 {
    width: auto;
    padding: 10px;
    margin: 10px;
  }

  .item6 {
    width: auto;
  }
  .item8 {
 padding: 10px;
  }
  .item_box_imagen {
    height: 150px;
  }
 
  .container_footer {
    width: auto;
    flex-wrap: wrap;
  }
}
