:root {
  --tamaño35px: 35px;
  --tamaño30px: 30px;
  --tamaño25px: 25px;
  --tamaño20px: 20px;
  --tamaño15px: 15px;
  --tamaño10px: 10px;
  --tamaño8px: 8px;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.inicio_logo {
  /* height: 50%; */
  width: 50%;
}

.inicio_menu {
  font-size: var(--tamaño20px);
  text-decoration: none;
  color: black;
  border-style: groove;
  padding: 5px;
  border-color: #719430;
  width: 90px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: 80vh;
  background-image: url("./img/cochamo.jpg");
  background-size: cover;
  text-align: center;
}

header h1 {
  font-size: var(--tamaño30px);
  color: beige;
}

.container {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 20fr 6fr;
  grid-template-columns: (repeat, 1fr);
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item9";
}

.item1 {
  background-color: #719430;
  grid-area: item1;
}

.item2 {
  background-color: #92bb46;
  grid-area: item2;
}

.item3 {
  background-color: #acd464;
  grid-area: item3;
}

.item4 {
  background-color: #e1fbb2;
  grid-area: item4;
}
.item5 {
  background-color: white;
  color: black;
  grid-area: item5;
  padding: 40px;
}

.item5 h1 {
  font-size: var(--tamaño30px);
  margin: 30px;
}
.item5 p {
  color: green;
  font-size: var(--tamaño20px);
  margin: 0 auto;
  width: 40%;
}
.item5 h2 {
  color: rgb(1, 65, 20);
  font-size: var(--tamaño20px);
  margin-top: 30px;
}

.item6 {
  background-image: url("./img/angelmo3.jpg");
  background-size: cover;
  background-position: 0;
  color: white;
  grid-area: item6;
  padding: 40px;
}

.item6 h1 {
  margin: 0px;
  font-size: var(--tamaño30px);
}
.item6_texto {
  margin-top: 30px;
  font-size: var(--tamaño20px);
}

.item7 {
  background-color: #719430;
  grid-area: item7;
}

.item8 {
  grid-area: item8;
  display: flex;
  align-items: center;
  background-color: #92bb46;
  color: aliceblue;
  justify-content: center;
}

.item8 h1 {
  font-size: var(--tamaño25px);
  text-align: center;
}

.item9 {
  background-color: #719430;
  grid-area: item9;
}

#item {
  background-color: #92bb46;
  margin: 0%;
  padding: 10px;
}

.item_box {
  position: relative;
  display: inline-block;
  width: 32%;
  overflow: hidden;
}

.item_box_titulo {
  position: absolute;
  font-size: var(--tamaño20px);
  width: 70%;
  color: aliceblue;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.item_box_imagen {
  width: 90%;
  filter: brightness(70%);
  height: 250px;
}

.item_box_imagen:hover {
  filter: brightness(100%);
  transform: scale(1.1);
  transition: 0.2s ease-in;
  overflow: hidden;
}

.container1 {
  text-align: center;
  margin-bottom: 1px;
  height: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: (repeat, 1fr);
  grid-template-areas: "item10 item11 item12 item13";
}

.item10 {
  background-color: #719430;
  grid-area: item10;
}

.item11 {
  background-color: #92bb46;
  grid-area: item11;
}

.item12 {
  background-color: #acd464;
  grid-area: item12;
}

.item13 {
  background-color: #e1fbb2;
  grid-area: item13;
}

.container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
  gap: 50px;
}

.container_footer_item {
  width: 400px;
  padding: 10px;
}
.container_footer_item h1 {
  font-size: var(--tamaño25px);
}

.container_footer_item p {
  font-size: var(--tamaño15px);
  margin-top: 10px;
}
.container_footer_mapa {
    width: 400px;
}
.container_footer_mapa h1 {
  font-size: var(--tamaño25px);
}


.reserva {
  width: 80%;
  margin: 70px auto;
  align-items: center;
  text-align: center;
}
.reserva_titulo {
  margin: 10px 30px;
}
.reserva_formulario {
  display: block;
  margin-top: 20px;
  background-color: #e1fbb2;
  padding: 20px;
}
.reserva_formulario_fila {
  margin: 5px 5px;
}
.reserva_formulario_fila input {
  padding: 5px 5px;
  width: 50%;
}
.reserva_formulario_fila select {
  padding: 5px 5px;
  width: 51%;
}
.reserva_formulario_enviar {
  border-radius: 5px;
  border-color: #719430;
  background-color: #e1fbb2;
  font-size: var(--tamaño10px);
  margin-top: 10px;
  height: 30px;
  width: 200px;
}

#clima {
  width: 80%;
  margin: 70px auto;
  align-items: center;
  text-align: center;
}
.clima_ciudad {
  font-size: 25px;
}

.clima_grados {
  font-size: 20px;
}

.clima_grados_ {
  font-size: 14px;
}
